# Ignorar archivos de compilación y binarios
/out/
*.class
*.jar
*.war
*.ear

# Ignorar archivos del IDE
/.idea/
/.vscode/
/*.iml

# Ignorar archivos de dependencias y build tools
/.gradle/
/build/
/target/

# Carpetas y Bd
/Backups/
/scriptpy/envpy/
horarios1.db